<h1> Edit Instrument </h1>

<%= form_for @instrument do |f| %>
  
    <%= f.label :name %>
    <%= f.text_field :name %>

    <%= f.label :classification %>
    <%= f.text_field :classification %>


    <%= f.submit %>
 

<% end %>